<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/layout.css')}}">
    <title>Document</title>
</head>
<body>
    <a href="/" title="Go back to shopping">
        <img src="/static/homepage.jpg" alt="Go back to shopping" width="128px" height="84px">
    </a>
    <div class="footer">
        <form action="/login" method="POST">
            <h1>Login</h1><br/>
            <label for="username">Username:</label>
            <input required type="text" name="username" id="username" placeholder="username"  autocapitalize="off"><br/><br/>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="password" required><br/><br/>
            <a href="/forgot_password">forgot password?</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/signup">create a new account here!</a><br/><br/>
            <input type="submit" value="Login" /> <br/><br/>
            {{ error }}
        </form>
    </div>
   
</body>
</html>