<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/layout.css')}}">
    <title>Document</title>
</head>
<body>
    <a href="/" title="Go back to shopping">
        <img src="/static/homepage.jpg" alt="Go back to shopping" width="128px" height="84px">
    </a>
    <div class="footer">
        <form action="/reset_password/{{ username }}/{{ urlsafe }}" method="POST">
            <h1>Reset Password</h1><br/>
            <label for="password">Password:</label>
            <input required type="password" name="password" id="password" placeholder="Password(8-16 letters)"  autocapitalize="off" minlength="8" maxlength="16"><br/><br/>
            <label for="check_password">Check password:</label>
            <input required type="password" name="check_password" id="check_password" placeholder="Please type password again."  autocapitalize="off" minlength="8" maxlength="16"><br/><br/>
            <input type="submit" value="Reset password" /> <br/><br/>
            {{ error }}
        </form>
    </div>
   
</body>
</html>